@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gradient-bg {
  background: linear-gradient(
    90deg,
    #ffcd71 -2.57%,
    rgba(255, 205, 113, 0) 112.5%
  );
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none; 
}

